<p align="center">Enter an expression:</p>
<form>
    <p align="center"><b><input maxlength="200" name="expression" size="50" type="text"></b>&nbsp;
        <input name="equals" type="submit" value=" = ">
    </p>
</form>
<h2 style="text-align: center;">Last expression result:</h2>
<h3 style="text-align: center;">$result</h3>

